.container > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    pointer-events: none;
    justify-content: start !important;
    font-family: 'Kanit', sans-serif;
    line-height: 0px;
    text-transform: uppercase;
  }
  
  .number {
    font-size: 300px;
    color: var(--number-color);
  }
  
  .number span {
    display: inline-block;
    position: relative;
  }
  
  .slopeBegin {
    /* background-color: #ffffff; */
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
  }
  
  .slopeEnd {
    clip-path: polygon(20% 0%, 40% 0%, 20% 80%, 0% 80%);
  }
  
  .slopeBegin,
  .slopeEnd {
    position: absolute;
    width: 60%;
    height: 100% ;
  }
  
  .pink {
    background: linear-gradient(to right, deeppink 0%, coral 100%);
  }
  
  .teal {
    background-image: linear-gradient(to top, #ffffff00 30%, var(--gradient-color) 45%, var(--gradient-color) 60%, var(--gradient-color) 75%, #ffffff00 90%);
  }
  .teal2 {
    background: linear-gradient(to right, #2e2e2e 0%, #191c1f 100%);
  }
  
  .tomato {
    background: linear-gradient(to right, tomato 0%, gold 100%);
  }
   