/* .scene {
  width: 300px;
  height: 300px;
  perspective: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
} */



.cube {
  position: relative;
  width: 2vw;
  height: 2vw;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(40deg) rotateZ(0deg);
}

/* Ortak yüzey özellikleri */
.cube div {
  position: absolute;
  border: 1px solid #0000005f;
  
}

/* Yan yüzeyler için yükseklik ayarı */

.top {
  width: 5vw;
  height: 5vw;
  transform: rotateX(90deg) translateZ(5vw);
  background-color: #BCCCDC;
}

.bottom {
  width: 5vw;
  height: 5vw;
  transform: rotateX(-90deg) translateZ(5vw);
  background-color: #BCCCDC;
  }

.left {
  width: 5vw;
  height: 10vw;
  transform: rotateY(-90deg) translateZ(2.5vw) translateY(-2.5vw);
  background-color: #BCCCDC;
}

.right {
  width: 5vw;
  height: 10svw;
  transform: rotateY(90deg) translateZ(2.5vw) translateY(-2.5vw);
  background-color: #BCCCDC;
  ;
}

.front {
  width: 5vw;
  height: 10vw;
  transform: translateZ(2.5vw) translateY(-2.5vw);
  background-color: #BCCCDC;
}

.back {
  width: 5vw;
  height: 10vw;
  transform: rotateY(180deg) translateZ(2.5vw) translateY(-2.5vw); 
  background-color: #BCCCDC;
}

/* Dinamik renk sınıfları */
.red {
  background-color: #F8FAFC;
}

.green {
  background-color: #D9EAFD;
}

.blue {
  background-color: #BCCCDC;
}

.transition-all {
  transition: all 0.5s ease;
}